<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Core</string>
		<key>Status</key>
		<string>OK</string>
		<key>Detail</key>
		<string>Ready to use, more document needed.</string>
		<key>Has Demo</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFAssetsCache</string>
		<key>Status</key>
		<string>TEST</string>
		<key>Detail</key>
		<string></string>
		<key>Has Demo</key>
		<false/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFNavigationController</string>
		<key>Status</key>
		<string>TEST</string>
		<key>Detail</key>
		<string>iOS 7 required. Testing</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFImageCropper</string>
		<key>Status</key>
		<string>Alpha</string>
		<key>Detail</key>
		<string>Seems ready to release. Will used in more project to verify that.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFScrollViewPageControl</string>
		<key>Status</key>
		<string>Alpha</string>
		<key>Detail</key>
		<string>Seems ready to release. Will used in more project to verify that.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFSegue</string>
		<key>Status</key>
		<string>2.3</string>
		<key>Detail</key>
		<string>Released</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFSliderView</string>
		<key>Status</key>
		<string>TEST</string>
		<key>Detail</key>
		<string>Works as expected. Will used in more project to verify that. Also, API will be improved.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFTableViewCellHeightDelegate</string>
		<key>Status</key>
		<string>BETA</string>
		<key>Detail</key>
		<string>Seems ready to release. Will used in more project to verify that.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFTableViewPullToFetchPlugin</string>
		<key>Status</key>
		<string>Alpha</string>
		<key>Detail</key>
		<string>Can work, but need imporve. API may change.
TODO:
    * Better animate support.
    * Complete other container style.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFTimer</string>
		<key>Status</key>
		<string>TEST</string>
		<key>Detail</key>
		<string>Seems work. Needs more test.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFTransitioning</string>
		<key>Status</key>
		<string>TEST</string>
		<key>Detail</key>
		<string>Seems work. Needs more test.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>RFWindow</string>
		<key>Status</key>
		<string>Alpha</string>
		<key>Detail</key>
		<string>Works as expected. Will used in more project to verify that.</string>
		<key>Has Demo</key>
		<true/>
	</dict>
</array>
</plist>
